<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InstallerAnalyzer1_Host.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <applicationSettings>
        <InstallerAnalyzer1_Host.Properties.Settings>
            <setting name="REPORT_BASE_FOLDER" serializeAs="String">
                <value>\\192.168.56.1\Reports</value>
            </setting>
            <setting name="VM_DIR_PATH" serializeAs="String">
                <value>C:\VMs</value>
            </setting>
            <setting name="VBOX_BIN_PATH" serializeAs="String">
                <value>C:\Program Files\Oracle\VirtualBox\VBoxManage.exe</value>
            </setting>
            <setting name="VM_VDI_DIR_PATH" serializeAs="String">
                <value>C:\VDIs</value>
            </setting>
            <setting name="VM_BASE_VDI_PATH" serializeAs="String">
                <value>C:\VMs\base.vdi</value>
            </setting>
            <setting name="VM_HOST_PATH" serializeAs="String">
                <value>C:\Users\webking\Desktop\InstallerAnalyzer1.1\InstallerAnalyzer1.1\bin\Debug</value>
            </setting>
            <setting name="MAC_VENDORS_PATH" serializeAs="String">
                <value>C:\VMs\vendors.txt</value>
            </setting>
            <setting name="BASE_NAME" serializeAs="String">
                <value>POOL_VM_</value>
            </setting>
            <setting name="BASE_VM_NAME" serializeAs="String">
                <value>BASE_VM</value>
            </setting>
            <setting name="GUEST_USERNAME" serializeAs="String">
                <value>bot</value>
            </setting>
            <setting name="GUEST_PASSWORD" serializeAs="String">
                <value>bot</value>
            </setting>
            <setting name="INSTALLER_ANALYZER_EXECUTABLE_NAME" serializeAs="String">
                <value>InstallerAnalyzer1_Guest.exe</value>
            </setting>
            <setting name="HOST_SERVER_IP" serializeAs="String">
                <value>192.168.56.1</value>
            </setting>
            <setting name="HOST_SERVER_PORT" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="INSTALLER_ANALYZER_NETWORK_DRIVE" serializeAs="String">
                <value>z:</value>
            </setting>
            <setting name="THREAD_LOGS_DIR" serializeAs="String">
                <value>C:\threads_logs</value>
            </setting>
            <setting name="VM_TO_SPAWN" serializeAs="String">
                <value>1</value>
            </setting>
        </InstallerAnalyzer1_Host.Properties.Settings>
    </applicationSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
